[submodule "3D-Models"]
	path = 3D-Models
	url = git@github.com:MrMartin92/KiCad-Library-Models
[submodule "Symbols"]
	path = Symbols
	url = git@github.com:MrMartin92/KiCad-Library-Symbols
[submodule "Footprints"]
	path = Footprints
	url = git@github.com:MrMartin92/KiCad-Library-Footprints
[submodule "Datasheets"]
	path = Datasheets
	url = git@github.com:MrMartin92/KiCad-Library-Datasheets
[submodule "Templates"]
	path = Templates
	url = git@github.com:MrMartin92/KiCad-Library-Templates
